/* ============= CONTAINER STYLES =============== */

.container {
  width: 100%;
  text-align: center
}

/* =============== LOGIN STYLES ================= */

.login {
    display: inline-block;
    height: 200px;
    width: 300px;
    text-align: center;
    background: pink;
}
